* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.headline {
  height: 400px;
  width: 100%;
  background-image: url(img/mv.jpg);
  background-size: cover;
  background-position: bottom;
}

.headline-text {
  padding: 20px;
  color: gray;
}

.blog {
  width: 840px;
  margin: 50px auto;
}

.blog-item {
  border-bottom: 1px solid gray;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.blog-itme-last {
  border-bottom: 1px solid gray;
  padding-bottom: 30px;
}
